extends ./templates/head.jade
block content
    .container
        .welcome.text-centered
            h3.text-center(style="margin-top:100px") Welcome!
            h1 Jade Sass Gulp StartKit 2
            .desc with
            .label.label-primary Kube & Flexible.gs
    include ./templates/footer.jade
