extends ./templates/head.jade
block content
    .container
        .welcome.text-center
            h3.text-center(style="margin-top:100px") Welcome!
            h1 Jade Sass Gulp StartKit 2
            .label.label-primary with Bootstrap
    include ./templates/footer.jade
