extends ./templates/head
block content
    .container
        .welcome.uk-text-center
            h3(style="margin-top:100px") Welcome!
            h2(style="margin: 0") Jade Sass Gulp StartKit 2
            .desc with
            .label.uk-badge UIkit v.3
    include ./templates/footer
